<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Perimetro Figuras</title>
    <link rel="stylesheet" href="../css/NavStyle.css">
    <link rel="stylesheet" href="../css/figuraStyle.css">
    <link rel="stylesheet" href="../css/modalStyle.css">
    <script src="../js/FuncionFiguras.js" defer></script>
</head>

<body class="body">
    <header class="header">
        <a href="../index.html" class="a name-logo"><img src="../img/JavaScript-logo.png" height="50"><span class="name-logo">Js taller</span></a>
        <div>
            <nav>
                <ul class="ul">
                    <li class="li"><a href="#" class="a">Ejercicios Js</a>
                        <ul class="ul-menu">
                            <li><a href="./palabra.html" class="sub-a">Ejercicio palabra</a></li>
                            <li><a href="./grados.html" class="sub-a">Ejercicio grados</a></li>
                            <li><a href="./tipoTriangulo.html" class="sub-a">Tipo Triangulo</a></li>
                            <li><a href="./instructor.html" class="sub-a">Identificar instructor</a></li>
                        </ul>
                    </li>
                    <li class="li"><a href="./areaPerimetro.html" class="a">Area Perimetro Figura</a>
                    </li>
                </ul>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-1">
        <div class="container">
            <div class="cards">
                <div class="title">
                    <h1 style="text-align: center;">Circulo</h1>
                </div>
                <div class="card-body">
                    <svg width="200" height="200" viewBox="0 0 120 120">
                        <circle cx="60" cy="60" r="50" fill="Gold" />
                    </svg>
                </div>
                <div class="card-footer">
                    <button type="submit" class="form-button" id="openAreaCirculo">Area</button>
                    <div id="modal-areaCirculo" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Area circulo</h2>
                            <div class="center">
                            <svg width="200" height="200" viewBox="0 0 120 120">
                                <circle cx="60" cy="60" r="50" fill="Gold" />
                            </svg></div>
                            <label for="radio" class="form-label">Ingrese el radio del circulo</label>
                            <input type="number" id="radio" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-close" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="areaCirculo">Calcular</button>
                            <div class="result">
                                <p id="content"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>   
                <button type="submit" class="form-button" id="openPerimetroCirculo">Perimetro</button>
                <div id="modal-perimetroCirculo" class="modal-container">
                    <div class="modal-content">
                        <h2 style="text-align: center;">Area circulo</h2>
                        <div class="center">
                        <svg width="200" height="200" viewBox="0 0 120 120">
                            <circle cx="60" cy="60" r="50" fill="Gold" />
                        </svg></div>
                        <label for="radioPerimetro" class="form-label">Ingrese el radio del circulo</label>
                        <input type="number" id="radioPerimetro" required step="0.1" class="form-input-one"> 
                        <div class="oder">
                        <div class="end">
                            <div id="modal-closeCirculo" class="modal-close">
                                <button class="form-button">Cerrar</button>
                            </div>
                        <button type="submit" class="form-button" id="perimetroCirculo">Calcular</button>
                        <div class="result">
                            <p id="contentperimetro"></p>
                        </div>
                        </div>
                    </div>
                    </div>
            </div>     
            </div>
        </div>
        </div>
        <div class="container">
            <div class="cards">
                <div class="title">
                    <h1 style="text-align: center;">Cuadrado</h1>
                </div>
                <div class="card-body">
                    <svg width="200" height="200" viewBox="0 0 200 200">
                        <rect x="10" y="10" width="200" height="200" fill="Gold" />
                    </svg>
                </div>
                <div class="card-footer">
                    <button type="submit" class="form-button" id="openCuadrado">Area</button>
                    <div id="modal-areaCuadrado" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Area cuadrado</h2>
                            <div class="center">
                            <svg width="200" height="200" viewBox="0 0 200 200">
                                <rect x="10" y="10" width="200" height="200" fill="Gold" />
                            </svg>
                        </div>
                            <label for="lado" class="form-label">Ingrese el lado del cuadrado</label>
                            <input type="number" id="lado" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-closeCuadrado" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="areaCuadrado">Calcular</button>
                            <div class="result">
                                <p id="contentCuadrado"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div> 
                    <button type="submit" class="form-button" id="OpenPerimetroCuadrado">Perimetro</button>
                    <div id="modal-perimetroCuadrado" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Perimetro cuadrado</h2>
                            <div class="center">
                            <svg width="200" height="200" viewBox="0 0 200 200">
                                <rect x="10" y="10" width="200" height="200" fill="Gold" />
                            </svg>
                        </div>
                            <label for="ladoc" class="form-label">Ingrese el lado del cuadrado</label>
                            <input type="number" id="ladoc" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-closePerimetroCuadrado" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="perimetroCuadrado">Calcular</button>
                            <div class="result">
                                <p id="contentPerimetroCuadrado"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-1">
        <div class="container">
            <div class="cards">
                <div class="title">
                    <h1 style="text-align: center;">Rectangulo</h1>
                </div>
                <div class="card-body">
                    <svg width="280" height="200" viewBox="0 0 280 200">
                        <rect x="10" y="10" width="280" height="200" fill="Gold" />
                    </svg>
                </div>
                <div class="card-footer">
                    <button type="submit" class="form-button" id="openRectangulo">Area</button>
                    <div id="modal-rectangulo" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Area rectangulo</h2>
                            <div class="center">
                                <svg width="280" height="200" viewBox="0 0 280 200">
                                    <rect x="10" y="10" width="280" height="200" fill="Gold" />
                                </svg>
                        </div>
                            <label for="lador" class="form-label">Ingrese el lado del rectangulo</label>
                            <input type="number" id="lador" required step="0.1" class="form-input-one"> 
                            <label for="base" class="form-label">Ingrese la base del rectangulo</label>
                            <input type="number" id="base" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-closeRectangulo" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="areaRectangulo">Calcular</button>
                            <div class="result">
                                <p id="contentRectangulo"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div> 
                    <button type="submit" class="form-button" id="openPerimetroRectangulo">Perimetro</button>
                    <div id="modal-perimetroRectangulo" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Perimetro rectangulo</h2>
                            <div class="center">
                                <svg width="280" height="200" viewBox="0 0 280 200">
                                    <rect x="10" y="10" width="280" height="200" fill="Gold" />
                                </svg>
                        </div>
                            <label for="ladorec" class="form-label">Ingrese el lado del rectangulo</label>
                            <input type="number" id="ladorec" required step="0.1" class="form-input-one"> 
                            <label for="baser" class="form-label">Ingrese la base del rectangulo</label>
                            <input type="number" id="baser" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-closePerimetroRectangulo" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="perimetroRectangulo">Calcular</button>
                            <div class="result">
                                <p id="contentPerimetroRectangulo"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div> 
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cards">
                <div class="title">
                    <h1 style="text-align: center;">Triangulo</h1>
                </div>
                <div class="card-body">
                    <svg width="200" height="200" viewBox="0 0 200 200">
                        <polygon points="100,10 190,190 10,190" fill="Gold" />
                    </svg>
                </div>
                <div class="card-footer">
                    <button type="submit" class="form-button" id="openTriangulo">Area</button>
                    <div id="modal-triangulo" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Area triangulo</h2>
                            <div class="center">
                                <svg width="200" height="200" viewBox="0 0 200 200">
                                    <polygon points="100,10 190,190 10,190" fill="Gold" />
                                </svg>
                        </div>
                            <label for="baset" class="form-label">Ingrese la base del triangulo</label>
                            <input type="number" id="baset" required step="0.1" class="form-input-one"> 
                            <label for="altura" class="form-label">Ingrese la base del triangulo</label>
                            <input type="number" id="altura" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-closeTriangulo" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="areaTriangulo">Calcular</button>
                            <div class="result">
                                <p id="contentTriangulo"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div> 
                    <button type="submit" class="form-button" id="openPerimetroTriangulo">Perimetro</button>
                    <div id="modal-perimetroTriangulo" class="modal-container">
                        <div class="modal-content">
                            <h2 style="text-align: center;">Perimetro triangulo</h2>
                            <div class="center">
                                <svg width="200" height="200" viewBox="0 0 200 200">
                                    <polygon points="100,10 190,190 10,190" fill="Gold" />
                                </svg>
                        </div>
                            <label for="lado1" class="form-label">Ingrese el lado 1 del triangulo</label>
                            <input type="number" id="lado1" required step="0.1" class="form-input-one"> 
                            <label for="lado2" class="form-label">Ingrese el lado 2 triangulo</label>
                            <input type="number" id="lado2" required step="0.1" class="form-input-one"> 
                            <label for="lado3" class="form-label">Ingrese el lado 3 del triangulo</label>
                            <input type="number" id="lado3" required step="0.1" class="form-input-one"> 
                            <div class="oder">
                            <div class="end">
                                <div id="modal-closePerimetroTriangulo" class="modal-close">
                                    <button class="form-button">Cerrar</button>
                                </div>
                            <button type="submit" class="form-button" id="perimetroTriangulo">Calcular</button>
                            <div class="result">
                                <p id="contentPerimetroTriangulo"></p>
                            </div>
                            </div>
                        </div>
                        </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
    <script src="../js/modal.js"></script>
</body>

</html>