<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipo triangulo</title>
    <link rel="stylesheet" href="../css/NavStyle.css">
    <link rel="stylesheet" href="../css/formStyle.css">
    <script src="../js/FuncionTipoTriangulo.js" defer></script>
</head>
<body class="body">
    <header class="header">
        <a href="../index.html" class="a name-logo"><img src="../img/JavaScript-logo.png" height="50"><span class="name-logo">Js taller</span></a>
        <div>
            <nav>
                <ul class="ul">
                    <li class="li"><a href="#" class="a">Ejercicios Js</a>
                        <ul class="ul-menu">
                            <li><a href="./palabra.html" class="sub-a">Ejercicio palabra</a></li>
                            <li><a href="./grados.html" class="sub-a">Ejercicio grados</a></li>
                            <li><a href="./tipoTriangulo.html" class="sub-a">Tipo Triangulo</a></li>
                            <li><a href="./instructor.html" class="sub-a">Identificar instructor</a></li>
                        </ul>
                    </li>
                        <li class="li"><a href="./areaPerimetro.html" class="a">Area Perimetro Figura</a>
                        </li>
                    </ul>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
    <div class="container-form">
    <h1 style="text-align: center;">Tipo de triángulos</h1>
<form>
    <div>
    <label for="lado1" class="form-label">Ingrese el valor del lado 1</label>
    <input type="number" id="lado1" required class="form-input-one"> 
</div>
<div>
    <label for="lado2" class="form-label">Ingrese el valor del lado 2</label>
    <input type="number" id="lado2" required class="form-input-one"> 

</div>
<div>
    <label for="lado3" class="form-label">Ingrese el valor del lado 3</label>
    <input type="number" id="lado3" required class="form-input-one"> 
</div>
<div class="end">
    <button type="submit" class="form-button" id="enviar">Tipo Triangulo</button>
</div>
</form>
</div>
    </div>
</body>
</html>